html, body {
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100vh;
    background: #121212;
}

body {
    background: url("hero.jpg") no-repeat 50% 50%;
    background-size: cover;
}

img {
    width: 100%;
}

.logo {
    position: fixed;
    font-family: Poppins;
    line-height: 80px;
    margin-left: 2em;
    color: #fff;
    font-size: 15px;
    letter-spacing: 3px;
    text-transform: uppercase;
    z-index: 1;
}

.logo ion-icon {
    color: #6adb9d;
    margin-right: 7px;
    position: relative;
    top: 1px;
    z-index: 1;
}

.contact {
    position: fixed;
    color: rgb(124, 124, 124);
    font-size: 12px;
    font-family: Poppins;
    letter-spacing: 2px;
    right: 100px;
    line-height: 80px;
    z-index: 1;
}

.menu {
    position: fixed;
    color: #6adb9d;
    right: 2em;
    top: 4px;
    line-height: 80px;
    z-index: 1;
}

.menu ion-icon {
    font-size: 24px;
}

.header {
    position: absolute;
    top: 46%;
    left: 32%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.ml7 {
    position: relative;
    font-weight: 900;
    font-size: 3.7em;
}

.ml7 .text-wrapper {
    position: relative;
}



